.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, $color--green-light 0%, $color--blue-light 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    @include fontHeroPhone;
    padding-bottom: 10px;
  }
  .tagline {
    @include fontCaption;
    color: $color--blue-600;
  }
  .btn {
    margin: 20px 0;
    .register {
      color: $color--white;
    }
  }
}
